<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <title>Take prompt</title>
  </head>
  <body>
    <header>
      <div class="logo">researchGPT</div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <!-- <li><a href="#"></a></li> -->
          <!-- <li><a href="#"></a></li> -->
        </ul>
      </nav>
    </header>
    <div class="center">
      <form action="/prompt" method="POST" enctype="multipart/form-data">
        <input type="text" name="promptText" />
        <input type="submit" value="Submit Prompt" onclick="loading()" />
      </form>
      {% if output %}
      <h2>Output:</h2>
      <p>{{ output }}</p>
      {% endif %} {% if prompt %}
  
      <hr />
  
      <h4>Prompt:</h4>
      <p class="prompt">{{ prompt }}</p>
      {% endif %}
    </div>
  </body>
</html>
