<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <title>Take prompt</title>
  </head>
  <body>
    <form action="/prompt" method="POST" enctype="multipart/form-data">
      <input type="text" name="promptText" />
      <input type="submit" value="Submit Prompt" onclick="loading()" />
    </form>
    {% if output %}
    <h2>Output:</h2>
    <p>{{ output }}</p>
    {% endif %}
    {% if prompt %}
    <hr />

    <h4>Prompt:</h4>
    {% for para in prompt %}
    <p class="prompt">{{ para }}</p>
    {% endfor %} {% endif %} 
    
    {% if references %}
    <p style="font-weight: bold">Reference</p>
    {% for para in references %}
    <p>{{ para }}</p>
    {% endfor %} {% endif %}
  </body>
</html>
